.allFlightsPage{
    margin: 13vh 0 0 0;
    height: fit-content;
    width: 100%;
}

.allFlightsPage h1{
    color: rgba(3, 13, 20, 1);
    margin-left: 3vw;
}

.allFlights{

    margin-top: 10vh;
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns:100%;
    row-gap: 30px;
}

.allFlights .allFlights-Flight{

    background-color: rgba(83, 92, 100, 0.21);
    width: 90%;
    margin-left: 5%;
    padding: 3vh 2vw;
    border-radius: 0.7rem;
    box-shadow: rgba(226, 20, 65, 0.2) 0px 8px 24px;

}
.allFlights .allFlights-Flight:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.allFlights .allFlights-Flight span{
    display: flex;
    gap: 25px;
    
}

.allFlights .allFlights-Flight p{
    margin: 0;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
}
.allFlights .allFlights-Flight p b{

    font-weight: 600;
}
.allFlights .allFlights-Flight ol{
    margin: 0;   
    font-size: 0.85rem;     
}
.allFlights .allFlights-Flight ol b{
   font-weight: 500;      
}
.allFlights .allFlights-Flight button{

    margin-top: 15px;
}

.allFlights{
    width: 90%;
    height:100vh;
    padding-top: 10vh;
    background-image: linear-gradient(45deg, rgba(36, 59, 69, 0.489),rgba(0, 0, 0, 0.493)), url('../assets/flight_route.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}